.about {
  @extend .clients;

  .right {
    margin-top: 0 !important;

    .fotos-links {
      @media (max-width: $md) {
        display: none;
      }
    }

    .about-margin {
      margin-top: 34rem;

      @media (max-width: $md) {
        margin-top: 0;
      }
    }
  }
}
