#blog-popup {
  .modal-dialog {
    width: 100vw;
    min-width: 100vw;
    height: 100vh;
    margin: 0;
    opacity: 1;
    transition: opacity ease 1s;

    &.opacity {
      opacity: 0;
    }

    .modal-btn {
      z-index: 1;
      display: none;
    }

    .modal-content {
      width: 100vw;
      // height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: none;

      .modal-data {
        overflow: hidden;
        height: auto;
        max-width: $xl;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 14rem 0 14rem;

        @media (max-width: $lg) {
          margin: 0 7rem 0 7rem;
        }

        @media (max-width: $md) {
          margin: 2rem 3rem 0 3rem;
        }

        @media (max-width: $xs) {
          margin: 2rem 0 0 0;
        }

        .close {
          top: 65vh;
          right: 50%;
          transform: translate(70rem);
        }

        .foto-container {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .image,
          .test {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: start;

            .foto1 {
              img {
                object-position: right !important;
              }

              @media (max-width: $xs) {
                padding-right: 1rem;
              }
            }

            .Gross,
            .Mittel,
            .Klein {
              margin-bottom: 1rem;
              margin-left: 0.5rem;
              margin-right: 0.5rem;

              @media (max-width: $xs) {
                margin-left: 0;
                margin-right: 0;
              }

              a {
                @media (min-width: 769px) {
                  pointer-events: none;
                }
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                max-height: 90vh;
                object-position: left;
              }
            }

            .Gross {
              width: 60%;
              max-width: 94rem;

              @media (min-width: $sm) and (max-width: $lg) {
                width: 40%;
              }
            }

            .Mittel {
              width: 50%;
              max-width: 81rem;

              img {
                max-height: 80vh;
              }

              @media (min-width: $sm) and (max-width: $lg) {
                width: 35%;
              }
            }

            .Klein {
              width: 40%;
              max-width: 67rem;

              img {
                max-height: 70vh;
              }

              @media (min-width: $sm) and (max-width: $lg) {
                width: 25%;
              }
            }
          }
        }

        footer {
          margin: 0 1rem 5rem 1rem;
          display: flex;

          @media (max-width: $md) {
            margin: 0;
          }

          .impressum {
            display: none;

            @media (max-width: $md) {
              display: block;
            }
          }
        }
      }
    }
  }
}

.sl-wrapper {
  z-index: 9999;

  .sl-close {
    display: flex !important;
    border: 0.5px solid $font-color;
    background-color: white;
    opacity: 0.8;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    color: $font-color;
    position: fixed;
    bottom: 20vh;
    right: 8%;
    transform: translate(50%);
    align-items: center;
    top: auto;
    margin-right: 0;

    &:focus {
      outline: none;
    }

    @media (max-width: $md) {
      right: 50%;
      transform: translate(50%);
    }
  }

  .sl-close::before,
  .sl-close::after {
    position: absolute;
    left: 35px;
    content: " ";
    height: 40px;
    width: 4px;
    background-color: $font-color;
    opacity: 1;
  }

  .sl-close::before {
    transform: rotate(45deg);
  }

  .sl-close::after {
    transform: rotate(-45deg);
  }
}

.sl-overlay {
  z-index: 9998;
  background-color: black;
  opacity: 1;
}

// .sl-image {
//   width: 95% !important;
//   left: 2.5% !important;
// }

// .modal-data-wrapper {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.modal-backdrop.show {
  opacity: 0;
  background-color: white;
}

.bildlegende {
  p {
    font-family: "GT-Eesti-Display-Regular", sans-serif;
    font-size: 2.4rem;
    margin-bottom: 0.3rem;

    @media (max-width: $sm) {
      font-size: 2rem;
    }

    &.bildlegende-titel {
      font-weight: bold;
    }
  }

  @media (max-width: $sm) {
    margin-left: 1rem;
    margin-bottom: 2rem;
  }
}
