.clients {
  display: flex;
  flex-direction: column;

  .content {
    display: flex;

    @media (max-width: $md) {
      flex-direction: column;
    }

    .column-fotos {
      padding-right: 2rem;
      width: 33.3%;

      @media (max-width: $md) {
        width: 100%;
        padding-right: 0;
        display: flex;
      }

      .header-ipad {
        display: none;

        @media (min-width: $xs) and (max-width: $md) {
          display: flex;
          padding-left: 0.5rem;
        }
      }
    }

    .text-container {
      width: 66.6%;

      @media (max-width: $md) {
        width: 100%;
      }

      .column {
        width: 50%;

        @media (max-width: $sm) {
          width: 100%;
        }

        .clients-title {
          height: 4rem;
          margin-bottom: 4rem;
        }

        &.right,
        &.left {
          p {
            margin-bottom: 4rem;
            hyphens: auto;

            @media (max-width: $md) {
              margin-bottom: 5rem;
            }
          }
        }

        &.right {
          // margin-left: 10rem;
          margin-top: 34rem;
          margin-left: 3vw;

          @media (max-width: $lg) {
            // margin-left: 0;
            margin-top: 26rem;
          }

          @media (max-width: $md) {
            // margin-left: 0;
            margin-top: 8rem;
          }

          @media (max-width: $xs) {
            margin-left: 0;
            margin-top: 0;
          }
        }

        &.left {
          // margin-right: 3vw;
          // padding-right: 3vw;

          @media (max-width: $md) {
            margin-right: 0;
          }
        }
      }
    }

    .fotos {
      width: 100%;
      max-width: 53rem;
      margin-bottom: 1rem;

      @media (max-width: $md) {
        width: 50%;
        height: 30rem;

        &.mobile-hide {
          display: none;
        }
      }

      @media (max-width: $xs) {
        width: 100%;
        max-width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
