#contact {
  p,
  a,
  h2 {
    margin-bottom: 0;
  }

  .contact-left {
    width: 33.3%;

    @media (max-width: $sm) {
      width: 100%;
    }
  }

  .kontaktdaten {
    border-top: 1px solid black;

    .adresse {
      @media (max-width: $md) {
        font-size: 1.7rem;
      }
    }

    @media (max-width: $xs) {
      border-top: none;
    }
  }

  .daten {
    border-bottom: 1px solid black;

    h2 {
      @media (max-width: 1600px) {
        font-size: 2.2rem;
      }

      @media (max-width: 1177px) {
        font-size: 1.7rem;
      }

      @media (min-width: $sm) and (max-width: 853px) {
        font-size: 1.5rem;
      }

      @media (max-width: $xs) {
        border-top: 1px solid black;
        padding: 0 0.5rem;
        margin: 0;
      }
    }
  }

  .contact-img {
    width: 66.6%;
    height: auto;
    max-height: 51rem;
    overflow: hidden;

    @media (max-width: $sm) {
      width: 100%;
      height: 35rem;
      padding-bottom: 6.5rem;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  iframe {
    height: 45rem;
    object-fit: cover;
    width: 100%;

    @media (max-width: $lg) {
      height: 35rem;
    }

    @media (max-width: $sm) {
      min-width: 100%;
    }
  }
}
