footer {
  display: flex;
  margin: 2rem 14rem 0 14rem;

  @media (max-width: $lg) {
    margin: 2rem 7rem 0 7rem;
  }

  @media (max-width: $md) {
    margin: 1rem 3rem 0 3rem;
  }

  @media (max-width: $xs) {
    margin: 1rem 0 0 0;
  }

  p {
    font-size: 2.7rem;
    font-family: "BeirutTextWeb-semi-bold", sans-serif;
    line-height: 1.2;

    @media (max-width: $lg) {
      font-size: 2.5rem;
    }

    @media (max-width: $md) {
      font-size: 2rem;
    }
  }

  .mobile-footer {
    display: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    @media (max-width: $xs) {
      display: flex;
    }
  }

  .mobile-hide {
    @media (max-width: $xs) {
      display: none;
    }
  }

  .impressum {
    width: 100%;

    @media (max-width: $sm) {
      padding-top: 7rem;
    }

    h2 {
      @media (max-width: $sm) {
        width: 10rem;
      }
    }

    p {
      font-size: 1.9rem;
      cursor: pointer;

      @media (max-width: $md) {
        font-size: 1.4rem;
        width: 10rem;
      }
    }
  }
}

// ____Impressum und Datenschutz Modals

#impressum,
#datenschutz,
#impressum-modal,
#datenschutz-modal {
  transform: translateY(100%);
  transition: transform ease 0.5s;

  @media (max-width: $sm) {
    font-size: 1.6rem;

    h2 {
      font-size: 2.4rem;
    }
  }

  .modal-dialog {
    width: 100vw;
    min-width: 100vw;
    bottom: 0;
    top: auto;
    height: auto;
    position: fixed;
    border-bottom: none;
    max-height: 100vh;
    margin: 0;

    .modal-content {
      border-bottom: none;
      border-right: none;
      border-left: none;
      border-radius: 0;
      position: fixed;
      bottom: 0 !important;
      max-height: 100vh;
      background-color: white;
      top: 40vh;
      overflow-y: scroll;
      overflow-x: hidden;

      @media (max-width: $sm) {
        top: 10vh;
      }

      .modal-margin-el {
        width: 100%;
        background-color: white;
        height: 5rem;
        position: fixed;

        @media (max-width: $sm) {
          height: 2rem;
        }
      }

      button {
        position: fixed;
        right: 20rem;
        margin-top: 4rem;

        @media (max-width: $sm) {
          position: fixed;
          bottom: 8vh;
          right: 50%;
          transform: translate(50%);
        }
      }
    }
  }

  &.show {
    transform: translateY(0);
  }

  &.hide-modal {
    transform: translateY(100%);
  }

  .impressum-page,
  .datenschutz-page {
    padding: 7rem 20%;

    @media (max-width: $sm) {
      padding: 4rem 5%;
      padding-bottom: 10rem;
    }
  }

  .impressum-page {
    background-color: white;

    p {
      width: 50%;

      @media (max-width: $lg) {
        width: 100%;
      }
    }
  }

  .datenschutz-page {
    background-color: white;

    div {
      column-count: 2;

      @media (max-width: $md) {
        column-count: 1;
      }
    }
  }
}
