.grid-item {
  float: left;
  width: 33.3%;
  height: auto;
  padding-right: 5px;
  padding-left: 5px;
  overflow: hidden;

  @media (max-width: $md) {
    width: 50%;
    padding-right: 2.5px;
    padding-left: 2.5px;
  }

  h1 {
    line-height: 1.1em;
    min-height: 3.3em;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
  }
}

.grid-sizer {
  width: 33.3%;

  @media (max-width: $md) {
    width: 50%;
  }
}

.stamp-logo {
  header {
    height: 21rem;

    h1 {
      min-height: auto !important;
      line-height: 0.8;
    }

    h2 {
      padding-top: 1.1rem;
    }

    @media (max-width: $sm) {
      height: 12rem;
    }
  }
}

.margin {
  margin-bottom: 30rem;

  @media (max-width: $md) {
    margin-bottom: 0;
  }
}
