nav {
  position: fixed;
  top: 56rem;
  right: 50%;
  transform: translate(85rem);
  z-index: 5;
  border: 0.5px solid $font-color;
  background-color: white;
  opacity: 0.8;
  width: 20rem;
  height: 26rem;
  padding-right: 3rem;
  text-align: right;
  color: $font-color;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  transition: opacity ease 0.5s;

  &.add-opacity {
    opacity: 0.8;
    pointer-events: all;
  }

  .hide {
    display: none;
  }

  .back {
    position: absolute;
    top: 2rem;

    img {
      // @media (max-width: $lg) {
      //   width: 3rem;
      // }

      @media (max-width: $lg) {
        width: 2.5rem;
        margin-bottom: 1rem;
      }
    }
  }

  @media (max-width: $xl) {
    right: 5%;
    transform: translate(0);
    top: 50rem;
  }

  @media (max-width: $lg) {
    width: 15rem;
    height: 20rem;
    right: 3%;
    transform: translate(0);
    top: 43rem;
  }

  @media (max-width: $xs) {
    align-items: center;
    text-align: left;
    justify-content: start;
    padding-top: 3rem;
    padding-left: 0;
    bottom: 18vh;
    top: auto;
    right: 50%;
    transform: translate(50%);
    opacity: 0;
    pointer-events: none;
    width: 20rem;
    height: 26rem;

    h2 {
      padding-bottom: 1rem;
      font-size: 2rem;
    }

    .back {
      display: none;
    }
  }
}

.nav-btn {
  &.is-active {
    background-color: transparent;
  }

  @media (min-width: $xs) {
    display: none;
  }
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  border-radius: 0;

  &:hover {
    opacity: 1;
  }
}

// .hide-nav {
//   @media (max-width: $md) {
//     display: none;
//   }
// }

.page {
  nav,
  .nav-btn {
    @media (max-width: $xs) {
      display: none;
    }
  }
}

.home-data {
  .homepage-btn {
    display: none;
  }
}
