@font-face {
  font-family: "GT-Eesti-Display-Regular";
  /* stylelint-disable-next-line */
  src: url("../fonts/GT-Eesti-Display-Regular.woff") format("woff");
}

@font-face {
  font-family: "GT-Eesti-Display-Medium";
  /* stylelint-disable-next-line */
  src: url("../fonts/GT-Eesti-Display-Medium-2.woff") format("woff");
}

@font-face {
  font-family: "BeirutTextWeb-Regular";
  /* stylelint-disable-next-line */
  src: url("../fonts/BeirutTextWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "BeirutTextWeb-semi-bold";
  /* stylelint-disable-next-line */
  src: url("../fonts/BeirutTextWeb-SemiBold.woff") format("woff");
}

html {
  font-size: 10px;
}

body {
  font-family: "GT-Eesti-Display-Regular", sans-serif;
  margin: 0 auto;
  font-size: 2.4rem;
  color: $font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: $xl;

  @media (max-width: $lg) {
    font-size: 2rem;
  }

  .contain {
    overflow: hidden;
    margin: 6rem 14rem 0 14rem;

    @media (max-width: $lg) {
      margin: 6rem 7rem 0 7rem;
    }

    @media (max-width: $md) {
      margin: 2rem 3rem 0 3rem;
    }

    @media (max-width: $xs) {
      margin: 2rem 0 0 0;
    }
  }

  /* stylelint-disable */
  .text-section {
    p,
    h2,
    h3 {
      @media (max-width: $xs) {
        margin: 0 1rem;
      }
    }
  }

  h1 {
    font-size: 5.8rem;
    font-family: "BeirutTextWeb-Regular", sans-serif;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    color: white;

    @media (max-width: $lg) {
      font-size: 4.8rem;
    }

    @media (max-width: 1030px) {
      font-size: 4.3rem;
    }

    @media (max-width: $md) {
      font-size: 3.8rem;
    }

    @media (max-width: $xs) {
      font-size: 2.5rem;
    }
  }

  h2 {
    font-size: 2.9rem;
    font-family: "BeirutTextWeb-semi-bold", sans-serif;

    @media (max-width: $lg) {
      font-size: 2.5rem;
    }
  }

  h3 {
    font-size: 2.4rem;
    font-family: "GT-Eesti-Display-Medium", sans-serif;
    margin-bottom: 0;

    @media (max-width: $lg) {
      font-size: 2rem;
    }
  }

  a {
    text-decoration: none;
    color: $font-color;

    &:hover {
      text-decoration: none;
      color: $font-color;
    }
  }
}

.button-light {
  border: 0.5px solid $font-color;
  background-color: white;
  opacity: 0.8;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  color: $font-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;

  &:focus {
    outline: none;
  }
}

.nav-position {
  position: fixed;
  bottom: 35vh;
  right: 50%;
  transform: translate(70rem);

  @media (max-width: $xl) {
    right: 8%;
    transform: translate(0);
  }

  @media (max-width: $md) {
    bottom: 20vh;
    right: 50%;
    transform: translate(50%);
  }
}

// Header
#contact,
#blog-popup-header,
.clients,
.post,
.about {
  header {
    h1 {
      margin-bottom: 0;
    }

    h2 {
      @media (max-width: $md) {
        font-size: 2rem;
      }

      @media (max-width: $xs) {
        font-size: 1.6rem;
      }
    }

    a {
      width: 66.6%;
      justify-content: start;
      text-align: start;
      text-decoration: none;
    }
  }
}

#contact,
#blog-popup-header {
  header {
    display: flex;
    padding-bottom: 7.5rem;

    div {
      width: 33.3%;
    }

    @media (max-width: $md) {
      padding-bottom: 0;

      div {
        width: 50%;
      }

      a {
        width: 50%;
      }
    }
  }
}

.clients,
.post,
.about {
  header {
    height: 26rem;

    @media (max-width: $lg) {
      height: 18rem;
    }

    div {
      display: none;
    }
  }
}

.clients,
.about,
#contact {
  header {
    @media (max-width: $md) {
      display: none;
    }
  }
}

#blog-popup-header {
  header {
    padding-bottom: 3rem;

    @media (max-width: $md) {
      padding-bottom: 1rem;
    }
  }

  h1 {
    line-height: 1.1;
  }

  h1,
  h2 {
    padding-left: 5px;

    @media (max-width: $md) {
      padding-left: 2.5px;
    }
  }
}
